body {
    background-color: beige;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.page-header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main-header-title{
    background-color: #23211f;
    background-image: linear-gradient(62deg, #23211f 0%, #ea0909 100%);   
}

.game-title {
    text-align: center;
    color: white;
    background-color: #ff8a3c;
    background-image: linear-gradient(225deg, #ff8a3c 0%, #a70a0a 50%, #011d31 100%);
}

.player-info {
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: space-around;
}

.player1, .player2 {
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px 30px;
    font-size: 20px;
}

.game-info {
    text-align: center;
}

.winner-name {
    color : black;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px; 
    gap: 30px;
}

.mainBoard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 5px;  
    padding: 10px; 
    max-width: 1000px;
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(32, 32, 60);
    text-align: center;
    padding: 50px 0;
    font-size: 30px; 
    justify-content: center;

}

.winner-name {
    margin: 10px;
}

.batman-gif, .superman-gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#first-player-name, #second-player-name, .superman-score, .bat-man-score {
    margin: 10px;
    font-size: 30px;
    color :#b7b5cec6;
}

#start-button, #reset-button {
    font-size: 20px;
    padding: 0.8em 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    border: none;
    transition: 200ms;
    margin: 20px;
    
}



